In [1]:
# !pip install geopy

In [2]:
import json
import pandas as pd
from collections import defaultdict
import heapq

In [3]:
file_path = "alt_geog_base.json"

with open(file_path, 'r') as file:
    data = json.load(file)

In [35]:
data[0:5]

[[{'geomaster_name': 'Balqa Governorate',
   'geomaster_id': '54',
   'admin_level': 'Region',
   'centroid_lon': '35.6667',
   'centroid_lat': '32',
   'pop_accommodation_code': 'X',
   'pop_accommodation_name': 'Not Specified',
   'pop_data_type_code': 'REG',
   'pop_data_type_name': 'Registered',
   'pop_type_code': 'REF',
   'pop_type_name': 'Refugees',
   'pop_frequency_name': 'Daily',
   'pop_frequency_code': 'D',
   'pop_frequency_cumulative': 'cumulative',
   'pop_frequency_cumulative_code': 'C',
   'pop_origin_name': 'Syrian Arab Rep.',
   'pop_origin_code': 'SYR',
   'date': '2022-12-31',
   'month': '12',
   'year': '2022',
   'population_groups': 'Registered refugees from Syrian Arab Republic',
   'population_group_id': '4772',
   'source': 'UNHCR',
   'individuals': '17363',
   'households': None,
   'male_04': '1068',
   'male_511': '1867',
   'male_1217': '1318',
   'male_1859': '4097',
   'male_60': '305',
   'male_total': None,
   'male_hhs': None,
   'female_04': '1071',
   'female_511': '1823',
   'female_1217': '1240',
   'female_1859': '4174',
   'female_60': '400',
   'female_total': None,
   'children_total': None,
   'uac_total': None,
   'female_hhs': None}],
 [{'geomaster_name': 'Eritrea',
   'geomaster_id': '157',
   'admin_level': 'Country',
   'centroid_lon': '38.8293',
   'centroid_lat': '15.3716',
   'pop_accommodation_code': 'X',
   'pop_accommodation_name': 'Not Specified',
   'pop_data_type_code': 'REG',
   'pop_data_type_name': 'Registered',
   'pop_type_code': 'REF',
   'pop_type_name': 'Refugees',
   'pop_frequency_name': 'Daily',
   'pop_frequency_code': 'D',
   'pop_frequency_cumulative': 'cumulative',
   'pop_frequency_cumulative_code': 'C',
   'pop_origin_name': 'Sudan',
   'pop_origin_code': 'SUD',
   'date': '2022-11-30',
   'month': '11',
   'year': '2022',
   'population_groups': 'Registered refugees from Sudan',
   'population_group_id': '4770',
   'source': 'UNHCR',
   'individuals': '69',
   'households': '0',
   'male_04': '8',
   'male_511': '20',
   'male_1217': '7',
   'male_1859': '28',
   'male_60': '0',
   'male_total': '63',
   'male_hhs': '0',
   'female_04': '7',
   'female_511': '19',
   'female_1217': '6',
   'female_1859': '4',
   'female_60': '0',
   'female_total': '36',
   'children_total': '0',
   'uac_total': '0',
   'female_hhs': '0'},
  {'id': '2510178',
   'geomaster_name': 'Eritrea',
   'geomaster_id': '157',
   'geomaster_id1': '157',
   'admin_level': 'Country',
   'centroid_lon': '38.8293',
   'centroid_lat': '15.3716',
   'pop_accommodation_code': None,
   'pop_accommodation_name': None,
   'pop_data_type_code': 'REG',
   'pop_data_type_name': 'Registered',
   'pop_type_code': 'REF',
   'pop_type_name': 'Refugees',
   'pop_frequency_name': 'Daily',
   'pop_frequency_code': 'D',
   'pop_frequency_cumulative': 'cumulative',
   'pop_frequency_cumulative_code': 'C',
   'pop_origin_name': 'Others',
   'pop_origin_code': 'OTH',
   'date': '2022-11-30',
   'min_master_depth': '0',
   'month': '11',
   'year': '2022',
   'numRecords': '27',
   'population_groups': 'Registered refugees from Various',
   'population_group_id': '4784',
   'source': 'UNHCR',
   'master_record': '1',
   'master_depth': '0',
   'master_id': '157',
   'individuals': '20',
   'households': '0',
   'male_04': '0',
   'male_511': '0',
   'male_1217': '0',
   'male_1859': '0',
   'male_60': '0',
   'male_total': '0',
   'male_hhs': '0',
   'female_04': '0',
   'female_511': '0',
   'female_1217': '0',
   'female_1859': '0',
   'female_60': '0',
   'female_total': '0',
   'children_total': '0',
   'uac_total': '0',
   'female_hhs': '0'},
  {'id': '2449347',
   'geomaster_name': 'Eritrea',
   'geomaster_id': '157',
   'geomaster_id1': '157',
   'admin_level': 'Country',
   'centroid_lon': '38.8293',
   'centroid_lat': '15.3716',
   'pop_accommodation_code': None,
   'pop_accommodation_name': None,
   'pop_data_type_code': 'REG',
   'pop_data_type_name': 'Registered',
   'pop_type_code': 'REF',
   'pop_type_name': 'Refugees',
   'pop_frequency_name': 'Daily',
   'pop_frequency_code': 'D',
   'pop_frequency_cumulative': 'cumulative',
   'pop_frequency_cumulative_code': 'C',
   'pop_origin_name': 'Somalia',
   'pop_origin_code': 'SOM',
   'date': '2022-06-30',
   'min_master_depth': '0',
   'month': '6',
   'year': '2022',
   'numRecords': '33',
   'population_groups': 'Registered refugees from Somalia',
   'population_group_id': '4765',
   'source': 'UNHCR',
   'master_record': '1',
   'master_depth': '0',
   'master_id': '157',
   'individuals': '0',
   'households': '0',
   'male_04': '0',
   'male_511': '0',
   'male_1217': '0',
   'male_1859': '0',
   'male_60': '0',
   'male_total': '0',
   'male_hhs': '0',
   'female_04': '0',
   'female_511': '0',
   'female_1217': '0',
   'female_1859': '0',
   'female_60': '0',
   'female_total': '0',
   'children_total': '0',
   'uac_total': '0',
   'female_hhs': '0'}],
 [{'geomaster_name': 'Tafilah Govenorate',
   'geomaster_id': '66',
   'admin_level': 'Region',
   'centroid_lon': '35.6108',
   'centroid_lat': '30.8291',
   'pop_accommodation_code': 'X',
   'pop_accommodation_name': 'Not Specified',
   'pop_data_type_code': 'REG',
   'pop_data_type_name': 'Registered',
   'pop_type_code': 'REF',
   'pop_type_name': 'Refugees',
   'pop_frequency_name': 'Daily',
   'pop_frequency_code': 'D',
   'pop_frequency_cumulative': 'cumulative',
   'pop_frequency_cumulative_code': 'C',
   'pop_origin_name': 'Syrian Arab Rep.',
   'pop_origin_code': 'SYR',
   'date': '2022-12-31',
   'month': '12',
   'year': '2022',
   'population_groups': 'Registered refugees from Syrian Arab Republic',
   'population_group_id': '4772',
   'source': 'UNHCR',
   'individuals': '1538',
   'households': None,
   'male_04': '99',
   'male_511': '179',
   'male_1217': '129',
   'male_1859': '361',
   'male_60': '17',
   'male_total': None,
   'male_hhs': None,
   'female_04': '103',
   'female_511': '174',
   'female_1217': '124',
   'female_1859': '335',
   'female_60': '17',
   'female_total': None,
   'children_total': None,
   'uac_total': None,
   'female_hhs': None}],
 [{'geomaster_name': 'Anbar',
   'geomaster_id': '21',
   'admin_level': 'Region',
   'centroid_lon': '41.2411',
   'centroid_lat': '34.1891',
   'pop_accommodation_code': 'U',
   'pop_accommodation_name': 'Urban Areas',
   'pop_data_type_code': 'REG',
   'pop_data_type_name': 'Registered',
   'pop_type_code': 'REF',
   'pop_type_name': 'Refugees',
   'pop_frequency_name': 'Daily',
   'pop_frequency_code': 'D',
   'pop_frequency_cumulative': 'cumulative',
   'pop_frequency_cumulative_code': 'C',
   'pop_origin_name': 'Syrian Arab Rep.',
   'pop_origin_code': 'SYR',
   'date': '2022-12-31',
   'month': '12',
   'year': '2022',
   'population_groups': 'Registered refugees from Syrian Arab Republic (urban areas), Registered refugees from Syrian Arab Republic (refugee camps/centers)',
   'population_group_id': '4775, 4773',
   'source': 'UNHCR',
   'individuals': '2312',
   'households': '974',
   'male_04': '63',
   'male_511': '155',
   'male_1217': '169',
   'male_1859': '620',
   'male_60': '45',
   'male_total': '1052',
   'male_hhs': '424',
   'female_04': '68',
   'female_511': '165',
   'female_1217': '184',
   'female_1859': '757',
   'female_60': '86',
   'female_total': '1260',
   'children_total': '804',
   'uac_total': '6',
   'female_hhs': '550'},
  {'id': '2514363',
   'geomaster_name': 'Anbar',
   'geomaster_id': '21',
   'geomaster_id1': '21',
   'admin_level': 'Region',
   'centroid_lon': '41.2411',
   'centroid_lat': '34.1891',
   'pop_accommodation_code': None,
   'pop_accommodation_name': None,
   'pop_data_type_code': 'REG',
   'pop_data_type_name': 'Registered',
   'pop_type_code': 'REF',
   'pop_type_name': 'Refugees',
   'pop_frequency_name': 'Daily',
   'pop_frequency_code': 'D',
   'pop_frequency_cumulative': 'cumulative',
   'pop_frequency_cumulative_code': 'C',
   'pop_origin_name': 'Various',
   'pop_origin_code': 'VAR',
   'date': '2022-12-31',
   'min_master_depth': '0',
   'month': '12',
   'year': '2022',
   'numRecords': '5',
   'population_groups': 'Registered Refugees from various',
   'population_group_id': '5454',
   'source': 'UNHCR',
   'master_record': '1',
   'master_depth': '0',
   'master_id': '21',
   'individuals': '16',
   'households': '9',
   'male_04': None,
   'male_511': '1',
   'male_1217': None,
   'male_1859': '8',
   'male_60': None,
   'male_total': '9',
   'male_hhs': '6',
   'female_04': None,
   'female_511': None,
   'female_1217': '1',
   'female_1859': '6',
   'female_60': None,
   'female_total': '7',
   'children_total': '2',
   'uac_total': None,
   'female_hhs': '3'},
  {'id': '2514248',
   'geomaster_name': 'Anbar',
   'geomaster_id': '21',
   'geomaster_id1': '21',
   'admin_level': 'Region',
   'centroid_lon': '41.2411',
   'centroid_lat': '34.1891',
   'pop_accommodation_code': None,
   'pop_accommodation_name': None,
   'pop_data_type_code': 'REG',
   'pop_data_type_name': 'Registered',
   'pop_type_code': 'REF',
   'pop_type_name': 'Refugees',
   'pop_frequency_name': 'Daily',
   'pop_frequency_code': 'D',
   'pop_frequency_cumulative': 'cumulative',
   'pop_frequency_cumulative_code': 'C',
   'pop_origin_name': 'Sudan',
   'pop_origin_code': 'SUD',
   'date': '2022-12-31',
   'min_master_depth': '0',
   'month': '12',
   'year': '2022',
   'numRecords': '5',
   'population_groups': 'Registered refugees from Sudan',
   'population_group_id': '5486',
   'source': 'UNHCR',
   'master_record': '1',
   'master_depth': '0',
   'master_id': '21',
   'individuals': '12',
   'households': '7',
   'male_04': None,
   'male_511': None,
   'male_1217': None,
   'male_1859': '3',
   'male_60': '6',
   'male_total': '9',
   'male_hhs': '7',
   'female_04': None,
   'female_511': '1',
   'female_1217': '1',
   'female_1859': '1',
   'female_60': None,
   'female_total': '3',
   'children_total': '2',
   'uac_total': None,
   'female_hhs': None},
  {'id': '2488915',
   'geomaster_name': 'Anbar',
   'geomaster_id': '21',
   'geomaster_id1': '21',
   'admin_level': 'Region',
   'centroid_lon': '41.2411',
   'centroid_lat': '34.1891',
   'pop_accommodation_code': None,
   'pop_accommodation_name': None,
   'pop_data_type_code': 'REG',
   'pop_data_type_name': 'Registered',
   'pop_type_code': 'REF',
   'pop_type_name': 'Refugees',
   'pop_frequency_name': 'Daily',
   'pop_frequency_code': 'D',
   'pop_frequency_cumulative': 'cumulative',
   'pop_frequency_cumulative_code': 'C',
   'pop_origin_name': 'Iran (Islamic Rep. of)',
   'pop_origin_code': 'IRN',
   'date': '2022-10-31',
   'min_master_depth': '0',
   'month': '10',
   'year': '2022',
   'numRecords': '2',
   'population_groups': 'Registered refugees from Iran (Islamic Republic of)',
   'population_group_id': '5488',
   'source': 'UNHCR',
   'master_record': '1',
   'master_depth': '0',
   'master_id': '21',
   'individuals': '8',
   'households': '1',
   'male_04': None,
   'male_511': None,
   'male_1217': None,
   'male_1859': '3',
   'male_60': None,
   'male_total': None,
   'male_hhs': None,
   'female_04': '1',
   'female_511': '3',
   'female_1217': None,
   'female_1859': None,
   'female_60': None,
   'female_total': '5',
   'children_total': None,
   'uac_total': None,
   'female_hhs': '5'}],
 [{'geomaster_name': 'Najaf',
   'geomaster_id': '27',
   'admin_level': 'Region',
   'centroid_lon': '44.33311649999996',
   'centroid_lat': '32.027376',
   'pop_accommodation_code': None,
   'pop_accommodation_name': None,
   'pop_data_type_code': 'REG',
   'pop_data_type_name': 'Registered',
   'pop_type_code': 'REF',
   'pop_type_name': 'Refugees',
   'pop_frequency_name': 'Daily',
   'pop_frequency_code': 'D',
   'pop_frequency_cumulative': 'cumulative',
   'pop_frequency_cumulative_code': 'C',
   'pop_origin_name': 'Various',
   'pop_origin_code': 'VAR',
   'date': '2022-12-31',
   'month': '12',
   'year': '2022',
   'population_groups': 'Registered Refugees from various',
   'population_group_id': '5454',
   'source': 'UNHCR',
   'individuals': '489',
   'households': '224',
   'male_04': '21',
   'male_511': '34',
   'male_1217': '24',
   'male_1859': '210',
   'male_60': '13',
   'male_total': '302',
   'male_hhs': '199',
   'female_04': '23',
   'female_511': '31',
   'female_1217': '19',
   'female_1859': '105',
   'female_60': '9',
   'female_total': '187',
   'children_total': '152',
   'uac_total': '1',
   'female_hhs': '25'}]]

In [5]:
def round_to_n_sig_figs(x, n):
    return round(x, n - int(math.floor(math.log10(abs(x)))) - 1)

In [6]:
result = {}
for inner_list in data:
    for record in inner_list:
        geomaster_name = record['geomaster_name']

        if (record["admin_level"] == "Country" or record["admin_level"] == "Continent"):
            continue
                
        if geomaster_name not in result:
            result[geomaster_name] = {
                'geomaster_id': record['geomaster_id'],
                'geomaster_name': record['geomaster_name'],
                'admin_level': record['admin_level'],
                'total_population': 0,
                'nationalities': {}
            }

        nationality = record['pop_origin_name']
        individuals = int(record['individuals'])

        if nationality not in result[geomaster_name]['nationalities']:
            result[geomaster_name]['nationalities'][nationality] = {
                'population': 0,
                'records': []
            }

        result[geomaster_name]['total_population'] += individuals
        result[geomaster_name]['nationalities'][nationality]['population'] += individuals
        result[geomaster_name]['nationalities'][nationality]['records'].append(record)

for location in result.values():
    location['nationality_percentages'] = {}
    total_population = location['total_population']
    for nationality, nationality_data in location['nationalities'].items():
        if total_population > 0:
            share = nationality_data['population'] / total_population
            percentage = round_to_n_sig_figs(share * 100, 3)
        else:
            percentage = 0
        location['nationality_percentages'][nationality] = percentage


geojson = {
    'type': 'FeatureCollection',
    'features': [
        {
            'type': 'Feature',
            'geometry': {
                'type': 'Point',
                'coordinates': [0,0]
            },
            'properties': {
                'geomaster_id': location['geomaster_id'],
                'geomaster_name': location['geomaster_name'],
                'admin_level': location['admin_level'],
                'total_population': location['total_population'],
                'nationality_percentages': location['nationality_percentages'],
                'nationalities': location['nationalities']
            }
        }
        for location in result.values()
    ]
}

In [7]:
with open('reformatted_camp_data_alt.geojson', 'w') as outfile:
    json.dump(geojson, outfile)

In [33]:
total_population_all_camps = 0
num_camps = 0
num_camps_multiple_nationalities = 0
num_camps_no_population_nationality_data = 0

for location in result.values():
    num_camps += 1
    total_population_all_camps += location['total_population']
    
    num_nationalities = len(location['nationalities'])
    
    if num_nationalities == 0 or location['total_population'] in [0, None]:
        num_camps_no_population_nationality_data += 1
    else:
        num_camps_multiple_nationalities += 1

percentage_camps_multiple_nationalities = (num_camps_multiple_nationalities / num_camps) * 100
percentage_camps_no_population_nationality_data = (num_camps_no_population_nationality_data / num_camps) * 100

print("Total population of all geographies exclusive of region/country admin data:", total_population_all_camps)
print("Number of geographies:", num_camps)
print("Percentage of population in geographies with multiple nationalities:", round_to_n_sig_figs(percentage_camps_multiple_nationalities, 3),"percent")
print("Percentage of geographies with either no population or nationality data:", round_to_n_sig_figs(percentage_camps_no_population_nationality_data, 3),"percent")

Total population of all camps exclusive of region/country admin data: 12413470
Number of camps: 264
Percentage of population in camps with multiple nationalities: 87.9 percent
Percentage of camps with either no population or nationality data: 12.1 percent

In [36]:
average_population_per_camp = total_population_all_camps / num_camps

largest_camp_population = max(location['total_population'] for location in result.values())
smallest_camp_population = min(location['total_population'] for location in result.values() if location['total_population'] > 0)

nationality_populations = {}
for location in result.values():
    for nationality, nationality_data in location['nationalities'].items():
        if nationality not in nationality_populations:
            nationality_populations[nationality] = 0
        nationality_populations[nationality] += nationality_data['population']

top_5_nationalities = heapq.nlargest(5, nationality_populations, key=nationality_populations.get)

print("Average population per geographies:", round_to_n_sig_figs(average_population_per_camp, 5))
print("Largest geographies population:", largest_camp_population)
print("Smallest geographies population:", smallest_camp_population)
print("Top 5 nationalities across all geographies by total population:", top_5_nationalities)

Average population per geographies: 47021.0
Median geographies population: 1
Largest geographies population: 793035
Smallest geographies population: 1
Top 5 nationalities across all geographies by total population: ['South Sudan', 'Myanmar', 'Syrian Arab Rep.', 'Afghanistan', 'Dem. Rep. of the Congo']

In [37]:
nationality_populations = {}
nationality_highest_camp = {}

for location in result.values():
    for nationality, nationality_data in location['nationalities'].items():
        if nationality not in nationality_populations:
            nationality_populations[nationality] = 0
        nationality_populations[nationality] += nationality_data['population']

        if nationality not in nationality_highest_camp or nationality_data['population'] > nationality_highest_camp[nationality]['population']:
            nationality_highest_camp[nationality] = {
                'camp_id': location['geomaster_id'],
                'camp_name': location['geomaster_name'],
                'population': nationality_data['population']
            }

nationality_stats = {
    'Nationality': list(nationality_populations.keys()),
    'Total Population': list(nationality_populations.values()),
    'Geography ID': [nationality_highest_camp[nationality]['camp_id'] for nationality in nationality_populations],
    'Geography Name': [nationality_highest_camp[nationality]['camp_name'] for nationality in nationality_populations]
}

nationality_df = pd.DataFrame(nationality_stats)
nationality_df = nationality_df.sort_values('Total Population', ascending=False)

nationality_df

,Nationality,Total Population,Geography ID,Geography Name
9,South Sudan,3403383,802,Northern Region
46,Myanmar,1810481,11086,Cox's Bazar
0,Syrian Arab Rep.,1748470,93,Bekaa
44,Afghanistan,1286966,1687,Khyber Pakhtunkhwa
14,Dem. Rep. of the Congo,1265821,224,Western Region
8,Somalia,1144434,800,Somali
31,Central African Rep.,336737,1775,Nord-Ubangi
26,Burundi,322388,843,Kigoma
5,Eritrea,313518,169,Addis Ababa
28,Rwanda,256913,966,Nord-Kivu
41,Mali,90387,1362,Hodh Ech Chargui
2,Sudan,90355,797,Benishangul-Gumuz
29,None,89718,1672,Paktika
10,Ethiopia,51714,187,Nairobi
37,Burkina Faso,36887,1439,Tombouctou
45,Venezuela (Bolivarian Republic of),29200,11916,Caribbean
38,Mauritania,20677,1433,Kayes
16,Iraq,19239,12102,Al-Hasakeh
7,Others,18699,187,Nairobi
40,Niger,18247,1444,Menaka
1,Various,10093,24,Baghdad
39,Guinea,9272,1464,Luanda
3,Iran (Islamic Rep. of),8461,15,Erbil
4,Turkey,8251,6,Dahuk
33,Côte d'Ivoire,6371,1464,Luanda
6,Yemen,5319,169,Addis Ababa
23,Uganda,3770,796,Turkana
36,Sierra Leone,1910,1464,Luanda
34,Liberia,1724,512,Bas-Sassandra
42,Palestine,1198,1581,Tripoli
32,Chad,973,1464,Luanda
13,Congo,835,960,Kongo-Central
47,Haiti,600,11916,Caribbean
35,Angola,363,960,Kongo-Central
43,,55,1581,Tripoli
48,Cuba,41,11916,Caribbean
30,Egypt,0,199,South Central
27,United Rep. of Tanzania,0,203,Bossaso
25,United States of America,0,209,Somaliland
22,State of Palestine,0,209,Somaliland
21,Pakistan,0,209,Somaliland
20,Nigeria,0,209,Somaliland
19,Mozambique,0,209,Somaliland
18,Kenya,0,209,Somaliland
17,Jordan,0,209,Somaliland
15,Djibouti,0,209,Somaliland
12,Cameroon,0,209,Somaliland
11,Bangladesh,0,209,Somaliland
24,United Arab Emirates,0,209,Somaliland

In [40]:
top_25_camps = heapq.nlargest(25, result.values(), key=lambda x: x['total_population'])

camp_nationality_stats = {
    'Camp ID': [camp['geomaster_id'] for camp in top_25_camps],
    'Geography Name': [camp['geomaster_name'] for camp in top_25_camps],
    'Total Population': [camp['total_population'] for camp in top_25_camps],
    'Primary Nationality Origin': [max(camp['nationalities'], key=lambda x: camp['nationalities'][x]['population']) for camp in top_25_camps]
}

top_camps_df = pd.DataFrame(camp_nationality_stats)
top_camps_df = top_camps_df.sort_values('Total Population', ascending=False)

top_camps_df

   Camp ID        Geography Name  Total Population Primary Nationality Origin
0      802       Northern Region            793035                South Sudan
1     1687    Khyber Pakhtunkhwa            671075                Afghanistan
2    11086           Cox's Bazar            579460                    Myanmar
3      224        Western Region            578772     Dem. Rep. of the Congo
4    11775                 Ukhia            494602                    Myanmar
5    11784          Palong Khali            482760                    Myanmar
6      235               Gambela            376981                South Sudan
7       93                 Bekaa            318713           Syrian Arab Rep.
8     1683           Balochistan            314866                Afghanistan
9      301            White Nile            281628                South Sudan
10     800                Somali            250955                    Somalia
11     796               Turkana            244286                South Sudan
12     794               Garissa            233726                    Somalia
13      74         North Lebanon            226508           Syrian Arab Rep.
14     319              Adjumani            208191                South Sudan
15     843                Kigoma            206350                    Burundi
16     161             Dollo Ado            205951                    Somalia
17     335  Madi Okollo & Terego            197861                South Sudan
18      47     Amman Governorate            196539           Syrian Arab Rep.
19     310              Khartoum            191184                South Sudan
20   11097                 Yumbe            190256                South Sudan
21    1689                Punjab            184744                Afghanistan
22      83                Beirut            180120           Syrian Arab Rep.
23     838              Isingiro            175050     Dem. Rep. of the Congo
24      51    Mafraq Governorate            169004           Syrian Arab Rep.